.c-card.t-demo {
	cursor: pointer;
	border-radius: 0;
	box-shadow: none;
	background-color: #f9f9f9;
}

.c-card.t-demo .c-card__item {
	border-right: 1px solid #eee;
}

.c-card.t-demo .c-card--is-active {
	background-color: #fff;
	border-right: 0;
}

/* Item title styles start  */
h1.note-header > input {
	border: 1px solid #FFF;
	padding-left: 0;
}

h1.note-header > input:focus{
  border: 1px solid #FFF;
	box-shadow: none;
}
/* Item title styles end  */

/* Editor styles start */
.Vico,
.VicoToolbar,
.VicoEditArea {
	border: none;
	background: none;
	box-shadow: none;
	padding: 0 !important;
}
/* Editor styles end */

.app-navigation {
	-webkit-user-select: none;	
}
